PORT=10000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/holmes_erx?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here
AES_KEY=your_32_byte_aes_encryption_key_here!
SMTP_USER=ethereal_username
SMTP_PASS=ethereal_password
